/*************** Edit css by dev **********/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1{font-family: 'Univers LT Std' !important;letter-spacing: -3.7px !important; line-height: 138px !important;}

h2{font-family: 'Univers LT Std' !important;font-size: 94px !important; letter-spacing: -3px !important; lineheight: 144px !important;}
