a:focus{
    outline: unset;
}
.innerpage--heading-title-section{
    h1{
        span {
            display: block;
            margin-top: 0px;
            font-size: 83px ;
        }
    } 
} 

#element_avia_7_1{
    display: flex;
    flex-direction: column;
    span{
        order: 1;
        position: static;
        margin-bottom: 7px;
    }
    label{
        margin-bottom: 0;
    }
    input{
        order: 2;
    }
}

.testimonial--fullwidth--section {
    .avia-testimonial{
        .avia-testimonial_inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            .avia-testimonial-meta{
                .avia-testimonial-image{
                    display: flex;
                    justify-content: flex-end;
                    img{
                        width: auto;
                    }
                }
            }
            .avia-testimonial-content{
                
                .avia-testimonial-markup-entry-content{
                    p{
                        font-size: 30px !important;
                    }
                }
            }
        }
    }
}

.testimonial--fullwidth--section{
    .avia-button-wrap {
        max-width: 900px;
        margin: auto;
        text-align: left; 
        margin-top: 50px; 
        display: flex;
        justify-content: center;
    }
} 

div#footer{
    .container{
        .flex_column{
            display: flex;
            align-content: center; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center; 
            grid-gap: 25px;
            &:before, &:after {
                display: none; 
            }
            section {
                margin: 0; 
                .footer_icon {
                    text-align: center; 
                    img {
                        display: block; 
                        margin: auto; 
                        width: auto; 
                        height: 23px; 
                        margin-bottom: 8px; 
                    }
                    a {
                        font-weight: bold; 
                        font-size: 17px; 
                        display: block; 
                        padding: 0; 
                    }
                    &:not(:last-child) {
                        margin: 0 0 30px 0; 
                    }
                    &.widget_media_image {
                        margin: 0 0 30px 0; 
                    }
                }
            }
        }
    }
} 

.ul__content{
    &.ul-icon{
        ul{
            li{
                &:before{
                    transform: translateY(-50%);
                    top: 50%;
                }
            }
        } 
    } 
}

.usairforce--full-section{
    .entry-content-wrapper{
        .overlay-image{
            position: static;
        }
        .av-special-heading{
            margin: 0 0 30px 0;
        }
    } 
} 

.innerpage--heading-title-section{
    p{
        margin-top: 40px;
    }
} 
.testimonial--more--videos--section{
    a.avia-button {
        background: #fff;
        color: #000;
        margin: 20px 0 0 0 ; 
        transition: 0.5s;
        &:hover{
            background-color: #dff3ff !important;
            color: #000 !important;
            *{
                color: #000 !important;
            }
        }
    }
} 

.planner--fullwidth--video--section{
    .template-page h3 {
        margin: 60px 0 60px 0; 
    }
}

#top{
    .av-slideshow-ui.av-loop-endless{
        .avia-slideshow-arrows{
            &> a{
                display: none;
            }

        } 

    } 

} 

.full-width-image--text--section{
    .template-page.content{
        .entry-content-wrapper{
            .testimonial_content{
                .avia-button-wrap{
                    margin-top: 40px;
                }
            } 
        } 
    } 
} 